body {
  overflow-y: visible;
  border-bottom: 0;
}

.full {
  height: 100vh;
}

.inline-illust-text {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;

  p {
    width: 40%;
  }

  &.vertical {
    flex-direction: column-reverse;
  }

  &.reverse {
    flex-direction: row-reverse;
  }

  align-items: center;
  img {
    width: 40%;
  }
}

.about {
  .langs {
    margin-left: auto;
    margin-right: 3px;
  }

  padding: 5px;
}
